.whb-top-bar .wd-dropdown {
	margin-top: 10px;
}

.whb-top-bar .wd-dropdown:after {
	height: 20px;
}

.whb-sticked .whb-general-header .wd-dropdown {
	margin-top: 10px;
}

.whb-sticked .whb-general-header .wd-dropdown:after {
	height: 20px;
}



@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 60px;
		max-height: 60px;
	}

		.whb-sticked .whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}
		
		.whb-general-header-inner {
		height: 90px;
		max-height: 90px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
	
	
	}

@media (max-width: 1024px) {
		.whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
	
	}
		
.whb-general-header {
	background-color: rgba(255, 255, 255, 1);
}
