.wd-popup.wd-promo-popup{
	background-color:rgb(255, 255, 255);
	background-image: url(https://landing-creasonidos.aicode-test.art/wp-content/uploads/2021/08/corporate-popup.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

.page-title-default{
	background-color:rgb(23, 150, 229);
	background-image: url(https://landing-creasonidos.aicode-test.art/wp-content/uploads/2021/08/corporate-page-title.jpg);
}

.footer-container{
	background-color:rgb(255, 255, 255);
}

:root{
--wd-text-font:"Open Sans", Arial, Helvetica, sans-serif;
--wd-text-font-weight:400;
--wd-text-color:#777777;
--wd-text-font-size:14px;
}
:root{
--wd-title-font:"Quicksand", Arial, Helvetica, sans-serif;
--wd-title-font-weight:500;
--wd-title-color:#242424;
}
:root{
--wd-entities-title-font:"Poppins", Arial, Helvetica, sans-serif;
--wd-entities-title-font-weight:500;
--wd-entities-title-color:#333333;
--wd-entities-title-color-hover:rgb(51 51 51 / 65%);
}
:root{
--wd-alternative-font:"Lato", Arial, Helvetica, sans-serif;
}
:root{
--wd-widget-title-font:"Poppins", Arial, Helvetica, sans-serif;
--wd-widget-title-font-weight:600;
--wd-widget-title-transform:uppercase;
--wd-widget-title-color:#333;
--wd-widget-title-font-size:16px;
}
:root{
--wd-header-el-font:"Lato", Arial, Helvetica, sans-serif;
--wd-header-el-font-weight:700;
--wd-header-el-transform:uppercase;
--wd-header-el-font-size:13px;
}
.wd-load-additional-fonts{
	font-family: "Quicksand", Arial, Helvetica, sans-serif;font-weight: 600;
}

.wd-load-additional-fonts-700{
	font-family: "Quicksand", Arial, Helvetica, sans-serif;font-weight: 700;
}

:root{
--wd-primary-color:rgb(206,114,80);
}
:root{
--wd-alternative-color:rgb(115,149,148);
}
:root{
--wd-link-color:#333333;
--wd-link-color-hover:#242424;
}
.page .main-page-wrapper{
	background-color:rgb(250,250,250);
}

.woodmart-archive-shop .main-page-wrapper{
	background-color:rgb(250,250,250);
}

:root{
--btn-default-bgcolor:#f7f7f7;
}
:root{
--btn-default-bgcolor-hover:#efefef;
}
:root{
--btn-shop-bgcolor:rgb(15,145,227);
}
:root{
--btn-shop-bgcolor-hover:rgb(14,132,207);
}
:root{
--btn-accent-bgcolor:rgb(15,145,227);
}
:root{
--btn-accent-bgcolor-hover:rgb(14,132,207);
}
:root{
--notices-success-bg:#459647;
}
:root{
--notices-success-color:#fff;
}
:root{
--notices-warning-bg:#E0B252;
}
:root{
--notices-warning-color:#fff;
}
	:root{
	
			--wd-form-brd-radius: 5px;
	
	
	--wd-form-brd-width: 2px;

	--btn-default-color: #333;
	--btn-default-color-hover: #333;

	--btn-shop-color: #fff;
	--btn-shop-color-hover: #fff;

	--btn-accent-color: #fff;
	--btn-accent-color-hover: #fff;
	
	
	
	
	
	
	
	
	
			--btn-default-brd-radius: 5px;
		--btn-default-box-shadow: none;
		--btn-default-box-shadow-hover: none;
	
			--btn-shop-brd-radius: 5px;
		--btn-shop-box-shadow: none;
		--btn-shop-box-shadow-hover: none;
	
			--btn-accent-brd-radius: 5px;
		--btn-accent-box-shadow: none;
		--btn-accent-box-shadow-hover: none;
		}

	/* Site width */
		/* Header Boxed */
	@media (min-width: 1025px) {
		.whb-boxed:not(.whb-sticked):not(.whb-full-width) .whb-main-header {
			max-width: 1192px;
		}
	}

	.container {
		max-width: 1222px;
	}
	
	
	@media (min-width: 1222px) {

		[data-vc-full-width]:not([data-vc-stretch-content]) {
			padding-left: calc((100vw - 1222px) / 2);
			padding-right: calc((100vw - 1222px) / 2);
		}

		.platform-Windows [data-vc-full-width]:not([data-vc-stretch-content]) {
			padding-left: calc((100vw - 1239px) / 2);
			padding-right: calc((100vw - 1239px) / 2);
		}
	}

	
/* Quick view */
div.wd-popup.popup-quick-view {
	max-width: 920px;
}

/* Shop popup */
div.wd-popup.wd-promo-popup {
	max-width: 800px;
}

/* Age verify */
div.wd-popup.wd-age-verify {
	max-width: 500px;
}

/* Header Banner */
.header-banner {
	height: 40px;
}

body.header-banner-display .website-wrapper {
	margin-top:40px;
}

/* Tablet */
@media (max-width: 1024px) {
	/* header Banner */
	.header-banner {
		height: 40px;
	}
	
	body.header-banner-display .website-wrapper {
		margin-top:40px;
	}
}

.woodmart-woocommerce-layered-nav .wd-scroll-content {
	max-height: 223px;
}
		
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//landing-creasonidos.aicode-test.art/wp-content/themes/woodmart/fonts/woodmart-font.woff2?v=6.2.4") format("woff2");
}

