<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.slider-my-font {
    /*font-family: 'Aspira Medium' !important;*/
  font-family: 'Work Sans' !important;  
}

.slider-my-font-bold {
    /*font-family: 'Aspira Bold' !important;*/
  font-family: 'Work Sans' !important;
}
.whb-top-bar-inner {
    height: 60px !important;
    max-height: 60px !important;
}

.row-ganadores p{
  color: white !important;
  font-size: 1rem;
  font-weight: 600;
}

ul#menu-main-navigation a {
    color: #114455;
}
.main-page-wrapper {
    padding-top: 0; 
}
.content-slider {
    margin-top: 50px;
}
.whb-row.whb-general-header.whb-sticky-row.whb-with-bg.whb-without-border.whb-color-dark.whb-flex-flex-middle {
    padding-top: 8px;
}
.site-logo.wd-switch-logo img {
    width: 200px;
    height: 70px;
    object-fit: contain;
}

.text-justify {
    text-align: justify;
}
.text-upper {
  text-transform: uppercase;
}

/***  Estilos de quienes somos  ***/
div.text-crea-sonidos-colombia {
    color: #114455;
    text-align: justify;
}
div.title-text {
    margin-bottom: 10px;
}
.terminos-participacion {
    color: #008081 !important;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}



/***  Estilos de Beneficios  ***/
.img-beneficios img {
    height: 680px;
    object-fit: contain;
}
div#infoBeneficiosContent {
    width: 80vh;
}
div.text-crea-beneficios {
    text-align: left;
    margin-bottom: 0 !important;
    color: #114455;
}


/***  Estilos de video yuri  ***/
.content-video-yuri {
    background-size: contain;
}
div#video-yuri-text {
    padding-top: 0;
    padding-left: 18rem;
    padding-right: 8rem;
}
div#cont-video-yuri {
    padding: 2rem 0;
    padding-right: 10rem;
}
div#videoYuri {
    margin-bottom: 0;
}



/***  Estilos de requisitos  ***/
div#participar .wd-accordion.wd-style-default .wd-accordion-item:first-child {
    border-top: 2px solid #00CDC7;
}
div#participar .wd-accordion.wd-style-default .wd-accordion-item {
    border-bottom: 1px solid #00CDC7;
}


/***  Estilos de los ganadores  ***/
div.item-ganadores img {
    border-radius: 14px;
}


/***  Estilos de los pasos  ***/
.content-pasos {
    display: flex;
}
div#contentPasos {
    margin-bottom: 0;
}
a#btnPasos {
    width: 100%;
    background-color: #A700E9;
    color: white;
    font-size: 1.2rem;
    padding: 14px;
}



/***  Estilos de la agenda  ***/
div#contentAgenda .wd-accordion.wd-style-default .wd-accordion-item:first-child {
    border-top: 2px solid #ffffff85;
}
div#contentAgenda .wd-accordion.wd-style-default .wd-accordion-item {
    border-bottom: 1px solid #ffffff85;
}
div#contentAgenda .wd-accordion-title-text:hover {
    color: white;
}
div#contentAgenda .wd-accordion .wd-accordion-title.wd-active .wd-accordion-title-text, .wd-accordion .wd-accordion-title:hover .wd-accordion-title-text {
    color: white;
}


/***  Estilos de capacitaciones  ***/
div.capacitacion img {
    border-radius: 15px;
}


/***  Estilos footer  ***/
div#footer-column-three {
    padding-right: 12rem;
}

div#logo-bancolombia {
    width: 312px;
    height: auto;
    margin-bottom: 20px;
}
div#logo-ecopetrol img {
    width: 100%;
    height: 100px;
}
div#logo-yuri img {
    width: 315px;
    height: auto;
}
icons-size-large .wd-social-icon {
    width: 40px;
    height: 40px;
}
div#footer-column-one {
    padding-left: 8rem;
}
div#logo-white--footer img {
    width: 180px;
}
div.text-footer {
    color: #114455;
    text-align: justify;
}

div#contentSocial .icons-design-colored .social-facebook {
    background-color: #114455;
}
div#contentSocial .icons-design-colored .social-instagram {
    background-color: #114455;
}
div#contentSocial .icons-design-colored .social-youtube {
    background-color: #114455;
}
div#contentSocial .icons-design-colored .social-spotify {
    background-color: #114455;
}
div#contentSocial .icons-design-colored .social-twitter {
    background-color: #114455;
}
div#contentSocial .wd-social-icons.icons-size-large .wd-icon {
    font-size: 20px;
    line-height: 40px;
}
div#contentSocial .icons-size-large .wd-social-icon {
    width: 40px;
    height: 40px;
}


div#footer-column-two .textwidget {
    display: flex;
    justify-content: center;
  	padding-top: 2rem;
}
div#footer-column-two ul.menu a {
    color: #114455;
}


/***  Estilos pagina de contacto  ***/
div#contentInfoContact {
    height: 600px;
    display: flex;
    align-items: center;
}
input#btnSubmit {
    background: #114455;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}





/***  Estilos para moviles  ***/
@media (max-width: 767.98px) { 
  .whb-top-bar-inner {
      height: auto;
  }
  .site-logo img {
    object-fit: contain;
  }
  div.title-convovatoria h4 {
    font-size: 20px !important;
  }
  div#img-quienes-somos img {
    height: auto;
  }
  .img-beneficios img {
    height: auto;
  }
  div#infoBeneficiosContent {
    width: 100%;
    padding: 1rem;
  }
  div#video-yuri-text {
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  div#cont-video-yuri {
    padding: 0 1rem;
    padding-right: 1rem;
  }
  div#html-video video {
    height: auto;
  }
  div#videoYuri iframe {
    height: 250px;
  }
  .content-pasos {
    display: block;
  }
  div#footer-column-one {
    padding-left: 0;
  }
  div#footer-column-two .textwidget {
    padding-top: 0;
  }
  div#footer-column-three {
    padding-right: 0;
    padding-left: 1rem;
  }
  div#contentInfoContact {
    height: auto;
  }
}


/***  Estilos para el blog  ***/
span.vcard.author.author_name {
    font-size: 0;
}
span.vcard.author.author_name span:before {
    content: 'Creasonidos';
    font-size: 14px;
}
header.entry-header {
    display: none;
}
div#content-blog-home header.entry-header {
    display: block;
}


/***  Estilos para tables  ***/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .site-logo img {
    object-fit: contain;
  }
  div#img-quienes-somos {
    display: flex;
    height: 360px;
    align-items: center !important;
  }
  div#img-quienes-somos img {
    height: auto;
  }
  div#infoBeneficiosContent {
    width: 50%;
  }
  .img-beneficios {
    height: 700px;
    display: flex;
    align-items: center;
  }
  .img-beneficios img {
    height: auto;
  }
  div#video-yuri-text {
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  div#cont-video-yuri {
    padding: 0;
    padding-right: 1rem;
  }
  div#html-video video {
    height: auto;
  }
  div#videoYuri iframe {
    height: 260px;
  }
  div#footer-column-one {
    padding-left: 0;
  }
  div#footer-column-two .textwidget {
    display: flex;
    justify-content: center;
    height: 450px;
    align-items: center;
    padding-top: 2rem;
  }
  div#footer-column-three {
    padding-right: 1rem;
    height: 450px;
    display: flex;
    align-items: center;
  }
  div#logo-bancolombia {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
div.text-blog-diana {
    display: none;
}
div#comments {
    display: none;
}



/***  Estilos para desktpos  ***/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .site-logo img {
    object-fit: contain;
  }
  div#img-quienes-somos {
    height: 360px;
    display: flex;
    align-items: center;
  }
  div#img-quienes-somos img {
    height: auto;
  }
  div#infoBeneficiosContent {
    width: 50%;
  }
  div#video-yuri-text {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  div#cont-video-yuri {
    padding: 0;
    padding-right: 1rem;
  }
  div#html-video video {
    height: auto;
  }
  div#cont-video-yuri iframe {
    height: 300px;
  }
  div#videoYuri {
    margin-bottom: 0;
  }
  div#footer-column-one {
    padding-left: 0;
  }
  div#footer-column-three {
    padding-right: 1rem;
  }
  div#logo-bancolombia {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}

/***  Estilos para desktpos large  ***/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  div#img-quienes-somos {
    height: 310px;
    display: flex;
    align-items: center;
  }
  div#img-quienes-somos img {
    height: auto;
  }
  div#infoBeneficiosContent {
    width: 50%;
  }
  div#video-yuri-text {
    padding-top: 0;
    padding-left: 5rem;
    padding-right: 2rem;
  }
  div#cont-video-yuri {
    padding: 0;
    padding-right: 2rem;
  }
  div#html-video {
    margin-bottom: 0;
  }
  div#html-video video {
    height: auto;
  }
  div#cont-video-yuri iframe {
    height: 380px;
  }
  div#footer-column-one {
    padding-left: 2rem;
  }
  div#footer-column-three {
    padding-right: 2rem;
  }
}
/*.marquee0 >div{
  width: 100% !important;
}*/
#footer-column-two a{
  font-weight: 900 !important;
}

@media (min-width: 1400px) { 
  div#img-quienes-somos img {
      height: 230px;
      object-fit: contain;
  }
}</style>
<!-- end Simple Custom CSS and JS -->
