<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.main-page-wrapper {
    padding-top: 0; 
}
.content-slider {
    margin-top: 50px;
}

.text-justify {
  text-align: justify
}

.text-crea-sonidos-colombia {
    text-align: justify;
    font-size: 1.2rem;
}

.content-inscripcion {
    height: 581px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #5d9ba1;
    color: white;
    margin-left: -15px;
}

.justify-content .vc_column-inner {
    display: flex;
    justify-content: center;
}</style>
<!-- end Simple Custom CSS and JS -->
