<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#btnModalAsael, #btnModalBanda, #btnModalCarlos, #btnModalYembema, #btnModalTimbiafrica {
  display: none;
}
#btnModalGynca, #btnModalDiego, #btnModalEric, #btnModalCalibre, #btnModalHarol {
  display: none;
}
#btnModalJulio, #btnModalCatangon, #btnModalPuraSangre, #btnModalSaiConde, #btnModalViviana {
  display: none;
}
#btnModalPacifico {
  display: none;
}

/***  Estilos modal info ganador  ***/
div.wd-popup {
    border-radius: 15px;
}
.content-photo {
    display: flex;
    /*height: 100vh;*/
    align-items: center;
}
.imgPhotoArtista {
    margin-bottom: 10px;
}
.imgPhotoArtista img {
    border-radius: 10px;
}
.redes-sociales .content-icons {
    display: flex;
    justify-content: center;
}
.redes-sociales .icons-size-large .wd-social-icon {
    width: 40px;
    height: 40px;
}
.redes-sociales .wd-social-icons.icons-size-large .wd-icon {
    font-size: 22px;
    line-height: 40px;
}
.redes-sociales .icons-design-colored .social-facebook {
    background-color: #008081;
}
.redes-sociales .icons-design-colored .social-instagram {
    background-color: #008081;
}
.redes-sociales .icons-design-colored .social-youtube {
    background-color: #008081;
}
.redes-sociales .icons-design-colored .social-spotify {
    background-color: #008081;
}
.redes-sociales {
    margin-bottom: 0;
}
.logo-creasonidos-artista img {
    padding: 1rem 2rem;
    width: 100%;
    object-fit: contain;
}



/***  Estilos contador  ***/
.countTimer .countdown-days {
    color: white !important;
}
.countTimer .countdown-days span {
    color: white;
}
.countTimer .countdown-hours {
    color: white !important;
}
.countTimer .countdown-hours span {
    color: white;
}
.countTimer .countdown-min {
    color: white !important;
}
.countTimer .countdown-min span {
    color: white;
}
.countTimer .countdown-sec {
    color: white !important;
}
.countTimer .countdown-sec span {
    color: white;
}</style>
<!-- end Simple Custom CSS and JS -->
